.form {
  @apply flex flex-col w-full max-w-[425px];
}

.inputsContainer {
  @apply flex flex-col gap-5;
}

.input {
  @apply 
    py-2 px-3 tab:px-5 ll:py-3 ll:px-5
    bg-gray-medium
    text-gray-dark text-lg ll:text-xl placeholder-gray-dark placeholder-opacity-50
    border border-gray-dark rounded-xl
    focus:outline-goldenrod;
}

.btn {
  @apply 
    mt-12 py-4 ll:py-5 
    text-xl ls:text-2xl ll:text-[1.75rem] font-bold uppercase rounded-2xl
    focus:outline-none focus:ring-4 focus:ring-goldenrod
    hover:bg-navy-dark active:bg-navy-dark;
}

.p {
  @apply mt-2 text-navy text-sm ls:text-lg ll:text-xl;
}

.cta {
  @apply ml-1 text-gray-dark font-bold underline;
}
