# Env variables
**/.env.local

# Firebase service account keys
backend/serviceAccountPrivateKey.json
backend/serviceAccountPrivateKey.test.json

# Deps and dist
**/node_modules/
**/dist/

# Logs
logs
*.log
npm-debug.log*

# Editor directories and files
.vscode/
!.vscode/extensions.json

# OS files
.DS_Store
Thumbs.db

# Playwright test results and reports
**/playwright-report/
**/test-results/