/* The Inter google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind utilities;
@tailwind components;

/* Removes number inputs' default arrow */
@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer components {
  .wrapper {
    @apply px-4 tab:px-6 ll:px-10;
  }

  .page__wrapper {
    @apply wrapper w-screen;
  }

  .custom-focus {
    @apply transition-[box-shadow] focus:outline-none focus:ring;
  }

  .focus-goldenrod {
    @apply custom-focus focus:ring-goldenrod;
  }

  .focus-gray-dark {
    @apply custom-focus focus:ring-gray-dark;
  }

  .custom-focus-visible {
    @apply transition-[box-shadow] focus-visible:outline-none focus-visible:ring;
  }

  .focus-visible-goldenrod {
    @apply custom-focus-visible focus-visible:ring-goldenrod;
  }

  .focus-visible-gray-dark {
    @apply custom-focus-visible focus-visible:ring-gray-dark;
  }
}
