@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer components {
  .auth-form__input {
    @apply 
      py-2 px-3 tab:px-5 ll:py-3 ll:px-5
      bg-gray-medium
      text-gray-dark text-lg ll:text-xl placeholder-gray-dark placeholder-opacity-50
      border border-gray-dark rounded-lg
      focus:outline-none focus:border-none focus:ring focus:ring-goldenrod transition-all shadow;
  }
  
  .wrapper {
    @apply px-4 tab:px-6 ll:px-10;
  }

  .page__wrapper {
    @apply wrapper w-screen;
  }

  .tablet__wrapper {
    @apply wrapper;
  }

  .focus-goldenrod {
    @apply focus:outline-none focus-visible:ring focus-visible:ring-goldenrod;
  }
}
